@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

::selection {
    background-color: #7b4ee4;
    color: #FFF;
}