<section id="contact" class="bg-[#7C4EE4] lg:h-[33.375rem] h-[24.25rem] flex justify-center items-center">
    <div class="container mx-auto lg:px-0 px-6 text-center flex flex-col justify-center items-center">
        <h2 class="lg:mb-12 mb-[2.19rem] text-white text-center lg:text-[3.25rem] md:text-[2.33rem] text-[1.5rem] max-w-3xl font-bold lg:leading-[3rem] leading-[2.15406rem] tracking-[0.0125rem]">Get our stories delivered From us to your inbox weekly.</h2>
        <div class="flex items-center justify-center gap-2 w-full mb-6">
            <input type="text" class="bg-white rounded-lg outline-none lg:text-base text-[0.66194rem] lg:h-14 h-[2.31rem] lg:px-[1.44rem] px-[0.95rem] w-full max-w-[20rem] text-[#5A7184] placeholder:opacity-75 leading-[normal]" placeholder="Your Email">
            <button class="rounded-lg border-2 border-solid border-white lg:h-14 h-[2.31rem] lg:px-8 px-[1.4rem] text-white mg:text-lg text-[0.74469rem] font-bold leading-[normal] min-w-fit">Get started</button>
        </div>
        <p class="text-[#BBB] text-center lg:text-base text-[0.718rem] max-w-[34.6875rem] leading-7">Get a response tomorrow if you submit by 9pm today. If we received after 9pm will get a reponse the following day.</p>
    </div>
</section>