{% load static %}

<section class="hero lg:min-h-[49.75rem] md:h-[35.72188rem] min-h-[47.875rem] md:pb-0 pb-[2.62rem] bg-[#7C4EE4] flex items-center lg:mb-[8.31rem] md:mb-[5.88rem] mb-[2.62rem]">
    <div class="container mx-auto flex justify-between items-start md:flex-row flex-col lg:px-0 px-6 md:mt-0 mt-[2.56rem] lg:gap-0 md:gap-[2.06rem] gap-[3.63rem]">
        <div class="flex flex-col items-start max-w-[36.25rem]">
            <h4 class="text-white lg:mb-[2.31rem] md:mb-[1.67rem] mb-[0.37rem] lg:text-base text-[0.718rem] font-bold leading-[150%] tracking-[0.1rem]">Featured Post</h4>
            <h1 class="text-white lg:text-[4rem] md:text-[2.87213rem] text-[2.25rem] lg:mb-7 md:mb-[1.23rem] mb-[1.19rem] font-bold lg:leading-[5.375rem] md:leading-[3.85938rem] leading-[2.51563rem]">How AI will Change the Future</h1>
            <p class="text-white max-w-[26rem] lg:text-base text-[0.718rem] lg:mb-16 md:mb-[2.92rem] mb-[1.63rem] leading-[150%]">The future of AI will see home robots having enhanced intelligence, increased capabilities, and becoming more personal and possibly cute. For example, home robots will overcome navigation, direction</p>
            <button class="lg:py-4 py-[0.72rem] lg:px-12 px-[2.15rem] bg-white rounded-lg text-[#373737] lg:text-sm text-[0.62825rem] font-bold leading-[150%]">Read more</button>
        </div>
        <img src="{% static 'main/images/blogHero.jpeg' %}" alt="hero" class="w-full lg:max-w-[38rem] md:max-w-[27.28rem] lg:h-[36rem] md:h-[25rem] h-[20.625rem] object-cover rounded-2xl">
    </div>
</section>